
<div class="container">
    <div class="job-card" ng-repeat="job in jobs">
        <div class="job-card-header">
            <div>
                <div class="job-title-container">
                    <h2 class="job-title">{{job.opportunity_title}}</h2>
                    <span class="separator">|</span>
                    <span class="company-name">{{job.company}}</span>
                </div>
                <div class="job-details">
                    <div class="detail-item"><span class="material-icons">
                        location_on
                        </span> {{job.location}} ({{job.workplace_type}})</div>
                    <div class="detail-item"><span>&#x1F4BC;</span> Fresher</div>
                </div>
            </div>
            <span class="job-type full-time">Full-time</span>
        </div>
        <div class="job-footer">
            <span class="clock-icon">&#x23F0;</span>
            <span>Posted 5 days ago</span>
            <span class="dot">•</span>
            <span>Apply by 12/02/2025</span>
        </div>
    </div>
    
</div>
