<!DOCTYPE html>
<div class="main-container" ng-controller="MainController">
  <div>
    <navbar></navbar>
  </div>
  <div class="filter-list-container">
    <div class="filter-sidebar">
      <div class="filters-header">
        <div class="filters-title"><i class="fa fa-filter"></i> Filters</div>
      </div>

      <div class="filter-section">
        <div class="filter-option">
          <checkbox-directive
            label="Show open opportunities only"
            model="filters.showOpenOnly"
          >
          </checkbox-directive>
        </div>
      </div>

      <!-- Industry Filter -->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('industry')">
          <div class="filter-title">Industry</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-down': industryExpanded, 'fa-chevron-up': !industryExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="industryExpanded">
          <div class="search-input">
            <input type="text" placeholder="Search industry" />
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>

      <!-- Opportunity Type Filter -->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('opportunityType')">
          <div class="filter-title">Opportunity type</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-down': opportunityTypeExpanded, 'fa-chevron-up': !opportunityTypeExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="opportunityTypeExpanded">
          <checkbox-group-directive items="opportunityTypes">
          </checkbox-group-directive>
        </div>
      </div>

      <!-- Location Filter -->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('location')">
          <div class="filter-title">Location</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-down': locationExpanded, 'fa-chevron-up': !locationExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="locationExpanded">
          <div class="search-input">
            <input type="text" placeholder="Search location" />
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>

      <!-- Workplace Type Filter -->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('workplaceType')">
          <div class="filter-title">Workplace type</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-down': workplaceTypeExpanded, 'fa-chevron-up': !workplaceTypeExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="workplaceTypeExpanded">
          <checkbox-group-directive items="filters.workplaceTypes">
          </checkbox-group-directive>
        </div>
      </div>

      <!-- Salary-->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('salary')">
          <div class="filter-title">Salary</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-up': !salaryExpanded, 'fa-chevron-down': salaryExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="salaryExpanded">
          <div class="row-container">
            <div class="row-left">
              <div class="filter-label">Currency</div>
              <input-field-directive
                field-type="dropdown"
                model="filters.salary.currency"
                options="filters.currencyOptions"
                placeholder="INR"
              >
              </input-field-directive>
            </div>
            <div class="row-right">
              <div class="filter-label">Rate</div>
              <input-field-directive
                field-type="dropdown"
                model="filters.salary.rate"
                options="filters.rateOptions"
                placeholder="per year"
              >
              </input-field-directive>
            </div>
          </div>

          <div class="row-container range-row">
            <div class="row-left">
              <div class="filter-label">Min salary</div>
              <input-field-directive
                field-type="text"
                model="filters.salary.min"
                placeholder="Enter"
              >
              </input-field-directive>
            </div>
            <div class="range-separator">-</div>
            <div class="row-right">
              <div class="filter-label">Max salary</div>
              <input-field-directive
                field-type="text"
                model="filters.salary.max"
                placeholder="Enter"
              >
              </input-field-directive>
            </div>
          </div>
        </div>
      </div>

      <!-- Work Experience Filter -->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('workExperience')">
          <div class="filter-title">Work experience</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-up': !workExperienceExpanded, 'fa-chevron-down': workExperienceExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="workExperienceExpanded">
          <div class="filter-option">
            <div class="radio-container">
              <div
                class="radio-button"
                ng-class="{'selected': isSelected('experienced')}"
                ng-click="setExperienceType('experienced')"
              >
                <div
                  class="radio-inner"
                  ng-if="isSelected('experienced')"
                ></div>
              </div>
              <div
                class="radio-label"
                ng-click="setExperienceType('experienced')"
              >
                Experience
              </div>
            </div>
          </div>

          <div class="row-container range-row" ng-show="isExperienced()">
            <div class="row-left">
              <div class="filter-label">Min years</div>
              <input-field-directive
                field-type="dropdown"
                model="filters.workExperience.minYears"
                options="filters.yearsOptions"
                placeholder="Select"
              >
              </input-field-directive>
            </div>
            <div class="range-separator">-</div>
            <div class="row-right">
              <div class="filter-label">Max years</div>
              <input-field-directive
                field-type="dropdown"
                model="filters.workExperience.maxYears"
                options="filters.yearsOptions"
                placeholder="Select"
              >
              </input-field-directive>
            </div>
          </div>

          <div class="filter-option">
            <div class="radio-container">
              <div
                class="radio-button"
                ng-class="{'selected': isSelected('fresher')}"
                ng-click="setExperienceType('fresher')"
              >
                <div class="radio-inner" ng-if="isSelected('fresher')"></div>
              </div>
              <div class="radio-label" ng-click="setExperienceType('fresher')">
                Fresher
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Skills Filter -->
      <div class="filter-section">
        <div class="filter-header" ng-click="toggleSection('skills')">
          <div class="filter-title">Skills</div>
          <div class="toggle-icon">
            <i
              class="fa"
              ng-class="{'fa-chevron-down': skillsExpanded, 'fa-chevron-up': !skillsExpanded}"
            ></i>
          </div>
        </div>
        <div class="filter-body" ng-show="skillsExpanded">
          <div class="search-input">
            <input type="text" placeholder="Search by skills (max 5)" />
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="jobs-list">
      <!-- <div class="job-list-headers">some content according to figma</div> -->
      <!-- <div class="job-list-display"> -->
      <job-list-directive></job-list-directive>
      <!-- </div> -->
    </div>
  </div>
</div>
