<!DOCTYPE html>
<div class="main-container" ng-controller="mainController">
  <div>
    <navbar></navbar>
  </div>
  <div class="filter-list-container">
    <div class="filter-sidebar">
      sidebar this will fit according to the content
    </div>
    <div class="jobs-list">
      <!-- <div class="job-list-headers">some content according to figma</div> -->
      <!-- <div class="job-list-display"> -->
        <job-list-directive></job-list-directive>
      <!-- </div> -->
    </div>
  </div>
</div>
