<div class="container">
    <div class="second-container">
        <div class="dummy">
        <p>Opportunities</p>
        <div class="dummy-button">
            <button>
            <span id="dummy1" class="material-icons"> settings </span> Preferences
            </button>

            <button>
            <span id="dummy1" class="material-icons"> add </span> Post an
            opportunity
            </button>
        </div>
            <div class="mobile-dummy-button">
            <button>
                <span id="dummy1" class="material-icons"> settings </span>
                
            </button>
            <button>
                <span id="dummy1" class="material-icons"> add </span> Post 
            </button>
            
        </div>
        </div>

        <div class="filterButtenForJobList">
        <button ng-click="setAllOpportunities()">All opportunities</button>
        <button ng-click="setPostedByMe()">Posted by me</button>
        <button ng-click="setAppliedByMe()">Applied by me</button>
        </div>

        <div class="noOfResult">
        <p id="p1" ng-if="lengthOfData !=0">
            Showing {{lengthOfData}} opportunities
        </p>
        <p id="p1" ng-if="lengthOfData ==0">{{lengthOfData}} opportunity found</p>
        <div class="mobile-filter">
            <span class="material-icons"> filter_alt </span>
        </div>
        </div>
    </div>

    <div class="no-reply" ng-if="lengthOfData===0">
        <img src="./Directives/jobList/image.png" alt="" srcset="" />
        <p id="p2">There are no opportunities to display!</p>
        <p id="p2">Try changing or reset filters to see opportunities</p>
    </div>

    <div class="job-card" ng-repeat="job in jobs">
        <div class="job-card-header">
            <div>
                <div class="job-title-container">
                    <h2 class="job-title">{{job.opportunity_title}}</h2>
                    <span class="separator">|</span>
                    <span class="company-name">{{job.company}}</span>
                </div>
                <div class="job-details">
                    <div class="detail-item"><span class="material-icons">
                        location_on
                        </span> {{job.location}} ({{job.workplace_type}})
                    </div>
                    <div class="detail-item"><span class="material-icons">
                        work_outline
                        </span> {{job.work_experience.experience_required.min_year}} - {{job.work_experience.experience_required.max_year}} years
                    </div>
                    <div class="detail-item"><span class="material-icons">
                        payments
                    </span>
                        {{formatSalary(job.salary)}}
                    </div>
                </div>
            </div>
            <span class="batch">{{job.opportunity_type}}</span>
        </div>
        <div class="job-footer">
            <span class="batch" ng-class="{'batch-time': isRecent(job.posted_at)}">{{timeAgo(job.posted_at)}} </span>
            <span class="dot">•</span>
            <span ng-if="job.status === 'applied'" class="material-icons verified">verified</span>
            <span class="deadline" ng-class="{'text-red': applyFun(job.status, job.deadline_to_reply).daysLeft < 12}">{{applyFun(job.status, job.deadline_to_reply).text}}</span>
        </div>
    </div>
</div>
